# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!.isort.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*_cache
.*.swp
*/.ipynb_checkpoints/*
.DS_Store

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
.vscode
tags

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.coverage.*
.tox
junit*.xml
coverage.xml
.pytest_cache/

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/api/*
docs/_rst/*
docs/_build/*
cover/*
MANIFEST

# Per-project virtualenvs
.venv*/
.conda*/
.python-version

# Data and results
data/*
!data/num
data/num/*
!data/num/regression
data/num/regression/*
!data/num/regression/287.pkl
results/*
!results/.gitkeep
tests/data/
tests/results/

# workspaces
/tutorials/workspace/
workspace/
src/workspace/

# logs
synthcity_logs
experiments/synthcity_logs
tutorials/synthcity_logs
synthcity